<ion-header>
	<ion-toolbar>
		  <ion-buttons slot="start">
			  <ion-button color="light" (click)="goBack()">
				  <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
			  </ion-button>
		  </ion-buttons>
  
		  <ion-buttons slot="end">
			  <ion-button color="light">
				  <img src="../assets/imgs/logo.svg" class="logomain" />
			  </ion-button>
		  </ion-buttons>
	</ion-toolbar>
  </ion-header>

<ion-content padding>
	<h1 style="text-align: center; color: var(--ion-color-primary); margin-bottom:10px;">Agregar nueva tarjeta</h1>
	<div class="addtarjeta">
		<ion-item>
	      <ion-input placeholder="Nombre en tarjeta" [(ngModel)]="datos.titular" name="titular"></ion-input>
	    </ion-item>  
	    <ion-item>
	      <ion-input type="tel" placeholder="# de documento" [(ngModel)]="datos.numDoc"  name="numDoc"></ion-input>
	    </ion-item>    
	    <ion-item>
	      <ion-input type="tel" placeholder="# de celular" [(ngModel)]="datos.telefono"  name="telefono"></ion-input>
	    </ion-item>  
	    <ion-item>
	      <ion-input type="tel" placeholder="# de tarjeta" [(ngModel)]="datos.numeroTarjeta" name="numeroTarjeta"></ion-input>
	    </ion-item>    
	    <ion-item>
	      <ion-datetime placeholder="Fecha de Expiración" max="{{manana}}" displayFormat="YYYY/MM" [(ngModel)]="datos.fecha" name="fecha"></ion-datetime>
	    </ion-item>    
	    <ion-item>
	      <ion-input type="tel" placeholder="CVC" [(ngModel)]="datos.cvv" name="cvv"></ion-input>
	    </ion-item>    
	    <ion-item>
	      <ion-select placeholder="# de Cuotas" [(ngModel)]="datos.cuotas_new" name="cuotas_new">
	        <ion-select-option *ngFor="let number of [1,2,3,4,5,6,12,18,24,32,36]">{{number}}</ion-select-option>
	      </ion-select>
	    </ion-item>    
	    <ion-item>
	      <ion-input placeholder="Dirección" [(ngModel)]="datos.direccion" name="direccion"></ion-input>
	    </ion-item>    
	    <p></p>

	    <ion-button color="primary" fill="outline" (click)="addTarjeta()">Agregar</ion-button>
	</div>
</ion-content>
