<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
           <ion-label color="primary">Programa tu pedido</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button>
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div size="4">
		<!-- <h2>Programa tu pedido</h2> -->
		<!-- <p style="padding: 8px 40px;text-align: center;">Selecciona el rango de hora que no sea<br>inferior a {{hourinterval}} horas</p> -->
		<p style="padding: 8px 40px;text-align: center;">Selecciona el día y la hora en que entregaremos tu pedido</p>
	</div>
	<ion-col>
		<ion-row>
			<ion-col size="3" *ngFor="let item of diashabilesWS; let i = index" (click)="SeleccionaDia(item.fecha, item.diaNumero)">
				<div *ngIf="i == 0">
					<div [class]="bds" id="id_{{item.diaNumero}}"><div class="Dia">{{item.dia}}</div><div class="numeroDia">{{item.diaNumero}}</div></div>
				</div>
				<div *ngIf="i > 0">
					<div [class]="bd" id="id_{{item.diaNumero}}"><div class="Dia">{{item.dia}}</div><div class="numeroDia">{{item.diaNumero}}</div></div>
				</div>
			</ion-col>
		</ion-row>
	</ion-col>
	<ion-col>
		<ion-row> 
			<ion-col size="12" class="ion-text-center">
				Selecciona Hora
			</ion-col>
		</ion-row>

	</ion-col>
	<ion-col>
		<ion-row>

			<ion-col size="12" *ngFor="let item of rangos; let i = index">
				<div *ngIf="i == 0">
					<div (click)="seleccionaHora(item.Rango, i, item.ValorDomicilio)" [class]="bds" id="hora{{i}}">
						<!-- {{item.RangoNombre}} <small>Transporte: {{item.ValorDomicilio|currency:"COP $"}}</small> -->
						{{item.RangoNombre}} <small>Transporte: {{item.ValorDomicilio}}</small>
					</div>
				</div>
				<div *ngIf="i > 0">
					<div (click)="seleccionaHora(item.Rango, i, item.ValorDomicilio)" [class]="bd" id="hora{{i}}">
						<!-- {{item.RangoNombre}} <small>Transporte: {{item.ValorDomicilio|currency:"COP $"}}</small> -->
						{{item.RangoNombre}} <small>Transporte: {{item.ValorDomicilio}}</small>
					</div>
				</div>
			</ion-col>
			<!-- <ion-col id="hora1" class="buttonDay selected" size="12" (click)="seleccionaHora('14:00|16:00','hora1')">
				14:00 - 16:00
			</ion-col>
			<ion-col id="hora2" class="buttonDay" size="12" (click)="seleccionaHora('16:00|18:00','hora2')">
				16:00 - 18:00 0
			</ion-col> -->
		</ion-row>
	</ion-col>
	<div class="pro_continue">
		<ion-item>
			<!-- //[ngClass]="{'btn-continue':true,'disabled':error==true}" -->
			<ion-button size="large" (click)="continueCart2()" id="Confirma">Confirma tus datos <span id="spinner"></span></ion-button>
		</ion-item>
	</div>


	<!-- <div class="pro_dia">
		<ion-item>
		  <ion-label>Día</ion-label>
		  <ion-datetime [(ngModel)]="dia" placeholder="Ingresa la fecha" (ionChange)="checkDate()" [min]="min" [max]="max" cancelText="Cancelar" doneText="Listo!" display-format="DDDD DD de MMMM de YYYY" picker-format="DD MMMM YYYY" day-names="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sábado" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" [dayValues]="diashabiles"></ion-datetime>
		</ion-item>
	</div>
	<div class="pro_hora">
		<ion-item>
			<ion-label>De</ion-label>
			<ion-datetime [(ngModel)]="ini" placeholder="Ingresa la hora inicial" (ionChange)="checkDate()" minute-values="0,10,15,20,30,35,40,45,50,55" [hourValues]="hourvaluesini" cancelText="Cancelar" doneText="Listo!" displayFormat="hh:mm a" picker-format="HH:mm a"></ion-datetime>
		</ion-item>
	</div>
	<div class="pro_hora">
		<ion-item>
			<ion-label>Hasta</ion-label>
			<ion-datetime [(ngModel)]="fini" placeholder="Ingresa la hora final" (ionChange)="checkDate()" minute-values="0,10,15,20,30,35,40,45,50,55" [hourValues]="hourvaluesfini" cancelText="Cancelar" doneText="Listo!" displayFormat="hh:mm a" picker-format="HH:mm a"></ion-datetime>
		</ion-item>
	</div>
	<div class="pro_continue">
		<ion-item>
			<ion-button [ngClass]="{'btn-continue':true,'disabled':error==true}" size="large" (click)="continueCart()">Proceder con el pago</ion-button>
		</ion-item>
	</div> -->
	
</ion-content>
