<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col padding size="12">
			<h2>Contáctanos</h2>
		</ion-col>
		<ion-col padding size="12">
			<ion-button [hidden]="chat_enable=='0'" color="primary" fill="outline" (click)="openChat()">Chatea con nosotros
				<ion-icon name="chatboxes" slot="end"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col padding size="12">
			<!-- <ion-button color="primary" fill="outline" (click)="openWhatsapp(whatsapp)">{{whatsapp}} -->
			<ion-button color="primary" fill="outline" (click)="openWhatsapp(whatsapp)">Whatsapp
				<ion-icon src="assets/icon/ico-whatsapp.svg" slot="end"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col padding size="12">
			<!-- <ion-button color="primary" fill="outline" (click)="openEmail()">{{email}} -->
			<ion-button color="primary" fill="outline" (click)="openEmail()">Email
				<ion-icon name="mail" slot="end"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col padding size="12">
			<!-- <ion-button color="primary" fill="outline" (click)="openPhone(telefono)">{{telefono}} -->
			<ion-button color="primary" fill="outline" (click)="openPhone(telefono)">Teléfono
				<ion-icon name="call" slot="end"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>
</ion-content>
