<!-- <ion-backdrop
  [tappable]="enableBackdropDismiss"
  [visible]="showBackdrop"
  [stopPropagation]="shouldPropagate" style="display: none;">
</ion-backdrop> -->
<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
           <ion-label color="primary">Finaliza tu pedido</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="finish">
		<!-- <ion-item>
			<ion-label class="label-start">Dirección</ion-label>
			<ion-label class="label-end"><app-direcciones></app-direcciones></ion-label>
		</ion-item>
		<ion-item>
			<ion-label class="label-start">Programado</ion-label>
			<ion-label class="label-end small" (click)="setRange()">{{range}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label class="label-start">Métodos de Pago</ion-label>
			<ion-label class="label-end Capi" (click)="setMethod()"> <img src="{{ methodtipo === 'VISA' ? 'assets/icon/ico-visa.svg' : methodtipo === 'AMEX' ? 'assets/icon/ico-amex.svg' : methodtipo === 'MASTERCARD' ? 'assets/icon/ico-mastercard.svg' : methodtipo === 'DEBITO' ? 'assets/icon/PayU.svg' : '' }}" width="30"> {{method}}</ion-label>
		</ion-item>
		<ion-item [hidden]="checkTarjeta()">
			<ion-label class="label-start">Cuotas</ion-label>
			<ion-select [(ngModel)]="cuotas" value="1">
	        	<ion-select-option *ngFor="let number of [1,2,3,4,5,6,12,18,24,32,36]">{{number}}</ion-select-option>
	     	</ion-select>
		</ion-item>
		<ion-item>
			<ion-label class="label-start label-propina">Propina</ion-label>
			<ion-label class="label-end">
				<div class="btn-select" [ngClass]="{'btn-selected':propina=='0'}" (click)="setPropina('0')">$0</div>
				<div class="btn-select" [ngClass]="{'btn-selected':propina=='500'}" (click)="setPropina('500')">$500</div>
				<div class="btn-select" [ngClass]="{'btn-selected':propina=='1000'}" (click)="setPropina('1000')">$1000</div>
				<div class="btn-select" [ngClass]="{'btn-selected':propina>'1000'}" (click)="setPropina('1001')">{{otherpropina}}</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label class="label-start">¿Bolsa Ecológica?</ion-label>
			<ion-label class="label-end">
				<div class="btn-se.lect right" [ngClass]="{'btn-selected':bolsa=='0'}" (click)="setBolsa('0')">No</div>
				<div class="btn-select right" [ngClass]="{'btn-selected':bolsa=='1'}" (click)="setBolsa('1')">Si</div>
			</ion-label>
		</ion-item> -->
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<ion-label color="primary"><b>Comentarios</b></ion-label>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<ion-item>
							<ion-textarea placeholder="Escriba aquí..." [(ngModel)]="payload.comentarios"></ion-textarea>
						</ion-item>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div class="ion-text-center"><ion-label color="primary"><b>Resumen</b></ion-label></div>
		<ion-item class="resumen">
			<ion-label>Costo de productos</ion-label>
			<ion-label class="label-end">{{moneda}} {{subtotal | currency:"":"":"1.0"}}</ion-label>
		</ion-item>
		<ion-item class="resumen">
			<ion-label>Costo de transporte</ion-label>
			<ion-label class="label-end">{{moneda}} {{envio | currency:"":"":"1.0"}}</ion-label>
		</ion-item>
		<ion-item class="resumen">
			<ion-label>Bolsa Ecológica x {{bolsa}}</ion-label>
			<ion-label class="label-end">{{moneda}} {{valor_bolsa | currency:"":"":"1.0"}}</ion-label>
		</ion-item>
		<ion-item class="resumen">
			<ion-label>Propina</ion-label>
			<ion-label class="label-end">{{moneda}} {{propina | currency:"":"":"1.0"}}</ion-label>
		</ion-item>

		<ion-item class="resumen">
			<ion-item>
				<ion-checkbox (ionChange)="addValue($event)" color="primary" [(ngModel)]="check_creditos" id="check_creditos"></ion-checkbox>
			</ion-item>
			<ion-label class="resumen">
				FrutiCoins&nbsp;
				<img width="15" style="z-index: 999;" (click)="modalFruitcoins()" src="http://huerto.plaz.com.co/dist/img/question.svg">
			</ion-label>
			<ion-label class="label-end" style="color: #00ff00;">{{moneda}} {{credito | currency:"":"":"1.0"}}</ion-label><br />
		</ion-item>
		<ion-item *ngIf="credito > subtotal" class="resumen" id="TotDesc" style="background: #AAA!important;">
			<ion-label class="ion-text-center">Se te descontarán <span style="color: #00ff00;">{{credDescont | currency:"":"":"1.0"}}</span> de tus FrutiCoins</ion-label>
			<!-- <ion-label class="label-end" style="color: #00ff00;"><del>{{credDescont | currency:"":"":"1.0"}}</del></ion-label> -->
		</ion-item>

		<ion-item class="resumen total-res">
			<ion-label>Descuento</ion-label>
			<ion-label class="label-end" id="descuento">{{moneda}} {{descuento | currency:"":"":"1.0"}}</ion-label>
		</ion-item>
		<ion-item class="resumen total-res">
			<ion-label>Total</ion-label>
			<ion-label class="label-end">{{moneda}} {{total | currency:"":"":"1.0"}}<span [hidden]="!referencia_divisa"><br />({{valor_referencia}})</span></ion-label>
		</ion-item>
		<!-- Tienes un cupon de pago -->
		<ion-row>
			<ion-col size="6">
				<ion-item >
					<ion-label class="cupon-text" position="floating" >Redime un cupón</ion-label>
					<ion-input [(ngModel)]="payload.cupon_id" id="CampoCupon"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item >
					<ion-button color="success" size="large" id="buttonCupon" (click)="ValidaCupon()">Validar Cupón</ion-button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-item>

		</ion-item>
		<!-- <ion-item >
			<ion-label class="cupon-text" position="floating" >Redime un cupón</ion-label>
			<ion-input [(ngModel)]="payload.cupon_id"></ion-input>
			<ion-button color="primary" size="large" [hidden]="sending">Validar Cupón</ion-button>
		</ion-item> -->

		<ion-item>
			<ion-button color="primary" size="large" [hidden]="sending" (click)="valcheckout()">Enviar Pedido</ion-button>
		</ion-item>
		<ion-item>
		
		</ion-item>
	</div>
</ion-content>