ion-header{
    // background: #5d4bff;
    display:flex;
    justify-content:center;
    align-items:center;
    .logo{
        width: 34%;
        padding-top: 50px;
    }
}
ion-content {
    text-align: center;
    // ion-grid {
    //     //background: #5d4bff;
    // }
    .head{
        background-image: url('../../assets/imgs/back_design.png');
        width: 100%;
        height: 200px;
        background-size: cover;
    }
    // ion-col{
    //     //display:flex;justify-content:center;align-items:center;
    // }
    .botones{
        // padding: 10px;
        width: 100%;
        //position: absolute;
        left: 0;
        bottom: 5%;
    }
    .skip { padding: 5px;color: #5d4bff;font-weight: bolder;}
    .skip2 { padding: 2px;color: white;}
    .campo{
        border: solid 0.5px #5d4bff;
        width: 100%!important;
        padding: 18px;
        color: #5d4bff;
        font-weight: bolder;
        text-align: center;
    }

}
.ion-form-control{
    padding: 10px;
    border-radius: 3px;
    border: none;
    text-align: center;
}
.padding-50{
    padding : 0 50px;
}

/* Select  Ciudad*/
.cont{
    border: solid 0.5px #5d4bff;
    border-radius: 3px;
    background-color: transparent;
    color: #5d4bff;
    font-weight: bolder;
}
.arrow{
    text-align: center;
    margin-top: 38%;
    vertical-align: middle
}
#Listado{
    z-index: 200;
    position: absolute;
    width: 98%;
    background: #fff;
    color: #5d4bff!important;
    border-block-end: none;
    display: none;
}
#ContIndis{
    height: 193px;
    width: 100%;
    position: absolute;
    overflow: scroll;
}

#ListadoIndicativos{
    z-index: 200;
    position: absolute;
    width: 50%;
    background: #fff;
    color: #5d4bff!important;
    height: 253px;
    overflow: scroll;
    display: none;
}
.item{
    border: solid 0.3px #5d4bff;
}
.titulo{
    font-weight: bolder;
    color: #5d4bff;
    font-size: larger;
}
#bandera{
    padding-top: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#bandera img {
    width: 60%;
}
#banderaIndi{
    padding-top: 22%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#banderaIndi img {
    width: 46%;
}
.enviar{
    width: 100%;
}

.indicativo{
    padding: 18px 5px!important;
    img{
        width: 25px;
        float: left;
        margin-top: -1%;
    }
}

// ion-footer{
//     background-image: url('../../assets/imgs/back_design_inv.png');
//         width: 100%;
//         height: 100px;
//         background-size: cover;
// }