<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col col-12>
        <img class="logo" src="assets/imgs/logo.png"/>
        
        <div class="botones">
          <!-- <div class="skip" (click)="goHome()">Continuar sin registro &#187;</div> -->
          <!-- <ion-button size="large"  color="light" (click)="goLog()">
            INGRESA
          </ion-button>   -->
          <ion-button size="large" color="light" (click)="goReg()">
            ingresa o registrate
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  
