ion-content {
    text-align: center;
    ion-grid {
        background: #5d4bff;
    }
    .logo{
        width: 34%;
    }
    ion-col{
        display:flex;justify-content:center;align-items:center;
    }
    .botones{
        padding: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 5%;
    }
    .skip { padding: 10px;color: white;}

} 