<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
            <ion-button color="light" (click)="goIntro()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Términos y Condiciones</h2>
  <div [innerHtml]="terminos" class="innertext">
  <!-- Terminos -->
  </div>
</ion-content>