<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="title-done">
		
		<ion-icon name="ios-checkmark-circle-outline" slot="start" color="primary" size="large"></ion-icon>{{mensaje}}
	</div>
	<ion-item class="label-center"><ion-label class="label-start">{{username}}</ion-label></ion-item>
	<ion-item>
		<ion-label class="label-start">Dirección</ion-label>
		<ion-label class="label-end">{{dir}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Programado</ion-label>
		<ion-label class="label-end">{{range}}</ion-label>
    </ion-item>
    
    <div *ngIf="(method) === '1'" class="Link ion-text-center" padding>
        <p>Hemos enviado un sms con el link de pago. Una vez procesado, tu pedido será confirmado.</p>
    </div>
</ion-content>
