<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="categoria" style="background-image: url(assets/imgs/section2.jpg)">
  </div>
  
  <div class="title_h" padding>Blog</div>

  <ion-col size="12" padding>
	<ion-list>
		<ion-item *ngFor="let item of post" (click)="goEntrada(item.id)">
				<ion-col size="12">
					<div class="title_his">{{item.tituloEs}}</div>
					<div class="des_his">Conoce la historia detras de cada compra</div>
					<div class="date_his">{{item.fecha | date: 'dd/MM/yyyy'}}</div>
					<div class="botones">
						<div class="boton">
							<div class="innerboton">Conoce más</div>
						</div>
					</div>
				</ion-col>
		</ion-item>
	</ion-list>
  </ion-col>
  
</ion-content>