ion-header {
    ion-toolbar {
        height: 15vw;
        display: flex;
    }
    ion-title {
        ion-select {  max-width: 100% !important; }
    }
}
ion-content {
	.categoria {height: 40vw;}
	.title_h {
		background: #eee;
    	font-weight: bold;
    	color: #8c8c8c;
	}
	ion-item {
		.title_his {font-weight: bold;}
		.des_his {color: #8c8c8c;font-size: 4vw;}
		.date_his {color: #8c8c8c;font-size: 3vw;}
	}
	.botones {
		.boton	{
			padding: 10px;
			float: left;
			width: 50%;
			.innerboton {
				color: var(--ion-color-primary);
				border: 1px solid var(--ion-color-primary);
				padding: 4px;
    			text-align: center;
    			border-radius: 6px;
			}
			.twoboton {background: var(--ion-color-primary);color: white;}
		}
	}
}