<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-row>
    <ion-col size="6">
      <div class="vertical-center">
        <div class="center">
          <ion-img src="http://huerto.plaz.com.co/dist/img/img-credits.svg" class="ion-align-self-end" style="width: 100px;"></ion-img>
        </div>   
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-center text-credits">
      <p >Tienes: </p>
      <p style="color: #00ff00!important;">{{creditos|currency:"$"}}</p>
      <p style="color: var(--ion-color-primary);">FrutiCoins</p>
    </ion-col>
    <ion-col size='12' class="ion-text-center" style="padding: 0 20px;;">
      Los <b>FrutiCoins</b> son dinero para pagar tus mercados en Plaz.
    </ion-col>
  </ion-row>
  <!-- <div style="padding: 15px;">
    <div style="width: 100%; background-color: rgba(0,0,0,0.3); height: 0.5px;"></div>
  </div> -->
  <!-- <ion-row>
    <ion-col class="ion-text-center">
      <h4 style="color: var(--ion-color-primary); font-weight: bolder;">Código de Referido</h4>
      <p>Comparte tu código, por cada compra efectiva de tus referidos recibiras {{valorReferido|currency:'$' }} en <b>Fruticoins</b> que podrás usar en tus compras</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="pad">
      <div>
        <p class="codigo">{{codigo}}</p>
      </div>
    </ion-col>
    <ion-col>
      <p style="color: var(--ion-color-primary); font-weight: bolder; text-align: center;">Comparte tu código</p>
      <ion-button (click)="sendShare()"style="width: 100%">
        <ion-icon slot="icon-only" name="share" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> -->

</ion-content>