<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="image_receta" [ngStyle]="{'background-image':'url('+post?.image+')','background-size':'cover'}">
	  	<!--<img src="{{post?.image}}"/>-->
	</div>
	<div class="title_receta main">{{post?.tituloEs}}</div>
	<!-- <div class="title_receta">Productos</div>
	<ul class="pro_list">
		<li>1 Papaya</li>
		<li>1 Mango</li>
		<li>1 Banano</li>
	</ul> -->
	<div class="title_receta">Preparación</div>
	<div class="des_receta" padding [innerHTML]="post?.contenidoEs">
	</div>

	<div>
		<ion-button color="primary" size="large" (click)="gokit(post?.kit)">Comprar Kit de receta</ion-button>
	</div>

</ion-content>