// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {
    ion-list {
        margin: 0 !important;
    }
    ion-toolbar {
        height: 16vw;
        display: flex;
        --border-width: 0 !important;
    }
    .logomain {
        width: 38px;
    }
    ion-title {
        ion-select { 
            max-width: 100% !important; 
            width: 100%;
        }
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.select-city {
    background: white;
    text-align: center;
    color: var(--ion-color-primary);
    width: auto;
    border-color: var(--ion-color-primary);
}

.header-md{
    &::after{
        background-image: none;
    }
}
ion-toolbar {
    .toolbar-title{
        //|width: 20%;
        img{
            height: 12vw;
        }
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        ion-select {
            font-size: 3.5vw;
            text-align: center;
        }
    }
}

ion-content {
    ion-grid {
        .backbutton {
            position: absolute;
            top: 5px;
            background: white;
            height: 40px;
            width: 40px;
            font-size: 7vw;
            line-height: 47px;
            border-radius: 50%;
            box-shadow: 0 0 5px 1px var(--ion-color-dark);
        }
    }
}

ion-button{
    background-color: transparent; 
    font-size: 3.6vw;
    border-radius: 20px;
    font-family: 'GilroyB';
}

ion-menu{
    ion-content {
        --background: var(--ion-color-primary);
    }
    .user{
        height: 40vw;
        background-color: transparent;
        background-image: url('assets/imgs/back_intro.png');
        background-size: 100% auto; 
        background-position: center;
        text-align: center;
        position: relative;
        img{
            width: 25%;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        h2{
            margin: 0;
            color: white;
            font: 4vw 'GilroyB';
            position: absolute;
            bottom: 10%;
            left: 0;
            width: 100%;
        }
    }
    ion-list {
        background: transparent !important;
        ion-item {
            --color: var(--ion-color-light);
            --background: #403aba;
            margin-bottom: 10px;
            --inner-border-width: 0;
            --border-radius: 8pt;
            ion-label {text-align: center;}
        }
    }
    ion-item {
        --color: var(--ion-color-light);
    }
}

.active-item {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-dark);;
}

.t_opcion{
    h2 {
        color: var(--ion-color-primary);
        font-size: 4.5vw;
        max-width: 60%;
        display: inline-block;
        font-weight: bold;
    }
    .button-option{
        float: right;
        color: var(--ion-color-dark);
        font-size: 3.5vw;
        margin-top: 22px;
    }
}

.categoria{
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    white-space: normal;
    position: relative;
    color: white;
    
    .icon{
        font-size: 20vw;
    }
    .label{
        width: 100%;
        display: inline-block;
        color: white;
        z-index: 1;
        position: relative;
        font: 6vw 'GilroyB';
        margin: 0;
    }
    span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }
}

.title_error {text-align: center;}
.error_text {text-align: center;padding: 10px; color: var(--ion-color-primary); }
.loader {
    width: 100%;
    img {width: 100%;}
}

@media only screen and (max-height: 640px) {
    ion-button{
        font-size: 3vw;
    }
}

@media screen and (min-height: 790px){
    ion-header{
        background: white;
            --background: white;
        ion-toolbar{
            height: 24vw !important;
            background: white;
            --background: white;
        }    
    }
}

.animated {
    -webkit-animation-duration: 10;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.fast {
    -webkit-animation-duration: 400ms ;
    animation-duration: 400ms;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @-webkit-keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0.5;
    }
  }
  
  .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
  }

  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  .CodReferido{
      padding-bottom: 15px!important;
  }
  .CodReferido > span{
    text-align: center;
    color: #00ff00!important;
    font-size: larger;
    padding: 10px;
    border: dotted 4px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .fruticoins{
    color: #00ff00!important;
    font-weight: bolder;;
  }


.CustomAlert{
  .alert-message.sc-ion-alert-md{
    max-height : 300px!important;
  }
}
  