
ion-content {
    .rotador{
        height: 60vw;
        .swiper-slide img {
            max-height: inherit;
        }
    }
    .categorias{
        padding: 2vw 0;
        text-align: center;
        .cat {
            height: 35vw;
            margin-bottom: 5vw;
            border-radius: 4vw;
        }
    }
    .user_anonimo {text-align: center;color: gray;}
    .user_anonimo span {text-decoration: underline;color:var(--ion-color-primary);}
    

    @media only screen and (max-height: 640px) {
        .categorias{
            button{
                .icon{
                    width: 2.2em;
                    height: 2.2em;
                    font-size: 2.2em;
                }
                .label{
                    font-size: 0.7em;
                }
            }
        }    
    }

    @media only screen and (max-height: 568px) {
        .categorias{
            button{
                .icon{
                    width: 2em;
                    height: 2em;
                    font-size: 2em;
                }
                .label{
                    font-size: 0.7em;
                }
            }
        }    
    }   
}
.frutcoins{
    width: 100%!important;
    color : var(--ion-color-primary);
    text-align: center;
    font-weight: bolder;
}
.vfruitcoins{
    color : #00ff00
}
.frutcoins a{
    text-decoration: none;
    border-bottom: 1px dotted;
}
.Link{
    width: 100%;
    background-color: #FFD26B!important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    color: var(--ion-color-primary);
    font-weight: bolder;
}


