ion-content {
    form {height: 100%;}
    ion-grid {
    height: 100%;
    text-align: center;
    background-color: white;
    background-image: url('../../assets/imgs/back_design_inv.png');
    background-size: cover; 
    background-position: bottom;
    ion-row{
        height: 100%;
    }
    span {
        color: var(--ion-color-primary);
    }
    .button{
        width: 100%;
        background-color: white;
        display: inline-block;
        font-family: 'GilroyB';
    }
    ion-item{
        background-color: transparent;
        color: white;
        font-family: 'GilroyL';
        padding-left: 0;
        --border-color: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,var(--ion-color-primary))));
        font-weight: bold;
    }
    .botones ion-button {font-size: 3vw;}
    }
    @media only screen and (max-height: 750px) {}
    @media only screen and (max-height: 812px) {}
}

.title{
    color: var(--ion-color-primary);
}